apiVersion: v1
kind: Secret
metadata:
  name: apiserver-secret
  namespace: torq
type: Opaque
data:
  # values must be base64 encoded: echo -n "mypassword" | base64
  BETTER_AUTH_SECRET: ""
  DATABASE_URL: ""
  RESEND_KEY: ""
  GOOGLE_CLIENT_ID: ""
  GOOGLE_CLIENT_SECRET: ""
